.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgb(52, 42, 165);
    font-weight: 500;
}

.searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 500;
}

.searcher input {
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
}

.table {
    border: 1px solid rgb(151, 149, 149);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.row {
    display: flex;
}

.row div {
    padding: 5px;
    border: 1px solid gray;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: brown;
    font-weight: 500;
}
